body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}

/* Шапка */
header {
  height: 700px;
  background-color: #e9ded4;
  display: inline-block;
  position: relative;
  width: 100%;
  min-width: 1300px;
  overflow: hidden;
}
.header_main_container {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  margin-top: 26px;
}
.logopng_container {
  display: flex;
  column-gap: 1px;
}
.logopng {
  width: 22px;
  height: 31px;
}
.logotxt_container {
  font-family: "Golos Text";
  font-weight: 700;
  font-size: 16.65px;
  line-height: 18px;
  text-transform: uppercase;
  color: #595653;
  margin-left: 9px;
}
.header_text_container {
  width: 542px;
}
.header_text_main {
  text-transform: uppercase;
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: #313131;

  margin-top: 62px;
}
.first_header_text_main {
  text-align: start;
}
.second_header_text_main {
  text-align: center;
}
.header_text_sub {
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  text-align: center;
  margin-top: 24px;
}
.header_buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.header_button_1 {
  cursor: pointer;
  font-family: "Golos Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #1f1f1f;
  border-radius: 66px;
  height: 72px;
  background-color: #1f1f1f;
  color: white;
  width: 263px;
  transition: all 0.3s ease-out;
  z-index: 6;
}
.header_button_1:hover {
  background-color: #fbce51;
  color: #1f1f1f;
  border: 0px;
}

.header_button_2 {
  cursor: pointer;
  font-family: "Golos Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #1f1f1f;
  border-radius: 66px;
  height: 72px;
  border: 2px #1f1f1f solid;
  background-color: transparent;
  width: 263px;
  transition: all 0.3s ease;
}
.header_button_2:hover {
  background-color: #1f1f1f;
  color: white;
}
.header_composition_container {
  position: absolute;
  width: 1630px;
  height: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  pointer-events: none;
}
@media (max-width: 1366px) {
  .header_composition_container {
    left: -140px;
  }
}
.chess_piece_1 {
  position: absolute;
  top: 558px;
  right: 170px;
  width: 82px;
  height: 122px;
  z-index: 6;
}
.chess_piece_2 {
  top: 470px;
  right: 450px;
  height: 230px;
  position: absolute;
  z-index: 6;
}
.chess_piece_3 {
  top: 270px;
  right: 632px;
  height: 255px;
  position: absolute;
  z-index: 2;
}
.chess_piece_4 {
  top: 165px;
  right: 285px;
  height: 252px;
  position: absolute;
  z-index: 2;
}
.city_picture_back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1623px;
  height: 452px;
  z-index: 5;
}
.city_picture {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 1623px;
  height: 452px;
  z-index: 3;
}
.sup_background {
  position: absolute;
  top: -123px;
  z-index: 4;
  mix-blend-mode: color-burn;
  pointer-events: none;
}
.sun_round {
  width: 660px;
  height: 660px;
  border-radius: 50%;
  background-color: #fbce51;
  position: absolute;
  top: -44px;
  right: 159px;
  z-index: 1;
}
.sun_round_text {
  height: 660px;
  position: absolute;
  top: 5px;
  right: 110px;
  z-index: 2;
  mix-blend-mode: overlay;
}
/* Бегущая строка */
.marquee {
  background-color: #f54932;
  height: 60px;
  width: 100%;
  min-width: 1300px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-top: -4px;
}
.marquee_2 {
  background-color: #f54932;
  height: 60px;
  min-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-top: 140px;
}
.marquee_container {
  display: flex;
  align-items: center;
  animation: marquee-t 30s linear infinite;
}

.marquee-text {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
}

.marquee-text_1 {
  margin: 0 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes marquee-t {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-110%);
  }
}

/* Section 1 */
.support {
  margin: 0 auto;
  width: 1222px;
  margin-top: 80px;
  padding: 0;
}
.support_container_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sup_container_1_text {
  font-family: "Merriweather";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  max-width: 764px;
}
.sup_container_1_img {
  height: 250px;
  width: 394px;
}
.support_container_2 {
  display: flex;
  justify-content: space-between;
}
.sup_container_2_img {
  height: 615px;
  width: 474px;
  margin-top: 35px;
}
.sup_container_2 {
  margin-left: 17px;
}
.sup_container_2_text {
  font-family: "Merriweather";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  max-width: 764px;
  margin-top: 60px;
}
.sup_container_2_table {
  margin-top: 50px;
}
.table_line,
.table_line2 {
  display: flex;
  max-width: 704px;
}
.table_line {
  border-bottom: 2px #d0d0d0 solid;
}
.table_column_1,
.table_column_2,
.table_column_3,
.table_column_4,
.table_column_5,
.table_column_6 {
  font-family: "Golos Text";
  font-size: 20px;
  color: #313131;
}
.table_column_1,
.table_column_3,
.table_column_5 {
  opacity: 70%;
  font-weight: 400;
  width: 306px;
  border-right: 2px #d0d0d0 solid;
}
.table_column_2,
.table_column_4,
.table_column_6 {
  font-weight: 600;
  margin-left: 16px;
}
.table_column_1,
.table_column_2 {
  padding: 16px 0;
}
.table_column_5,
.table_column_6 {
  padding-top: 16px;
}
.table_column_3,
.table_column_4 {
  padding-bottom: 16px;
}
.sup_container_2_text_sub {
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 20px;
  color: #3057a2;
  margin-top: 46px;
}
.sup_container_2_img_back {
  position: absolute;
  top: 1107px;
  z-index: 4;
  height: 609px;
  width: 528px;
  pointer-events: none;
  mix-blend-mode: color-burn;
}
.rub100 {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  text-decoration-color: #f54932;
  text-decoration-thickness: 2px;
}

/* Section 2 */
.steps {
  width: 1222px;
  margin: 0 auto;
  padding: 0;
}
.steps_title {
  padding: 0;
  margin-top: 100px;
}
.steps_title_1 {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 54px;
  color: #313131;
  text-transform: uppercase;
}
.steps_title_2 {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.steps_title_3 {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 54px;
  color: #313131;
  text-transform: uppercase;
}
.steps_title_4 {
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #3057a2;
  width: 280px;
}
.step_blocks_container {
  margin-top: 54px;
  row-gap: 20px;
  position: relative;
}
.step_blocks_1 {
  column-gap: 20px;
  display: flex;
  align-items: center;
  width: 100%;
}
.step_blocks_2 {
  column-gap: 20px;
  display: flex;
  align-items: center;
}

.steps_1_2,
.steps_4_5 {
  margin-bottom: 20px;
  column-gap: 20px;
  display: flex;
  align-items: center;
}
.step_1,
.step_2,
.step_4,
.step_5 {
  width: 394px;
  height: 112px;
}
.step_3 {
  width: 394px;
  height: 244px;
  margin-bottom: 20px;
}
.step_6 {
  width: 394px;
  height: 136px;
}
.step_7 {
  width: 808px;
  height: 136px;
}
.step_1,
.step_2,
.step_3,
.step_4,
.step_5,
.step_6,
.step_7 {
  background-image: url("./sub_background_3.png");
  font-family: "Golos Text";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #313131;
  display: flex;
}
.step_sub_back {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  mix-blend-mode: color-burn;
  pointer-events: none;
}
.step_number {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
}
.step_text {
  width: 302px;
  margin-top: 20px;
  margin-left: 16px;
}
.step_text_7 {
  width: 446px;
  margin-top: 20px;
  margin-left: 16px;
}
.plane_img {
  position: absolute;
  width: 390px;
  height: 240px;
  top: 166px;
  right: -52px;
}
footer {
  background-color: #e9ded4;
  height: 150px;
  width: 100%;
}
footer div {
  margin: 0 auto;
  padding-top: 40px;
  max-width: 1222px;
  color: #313131;
  opacity: 60%;
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* Section 3 */
.members {
  width: 1222px;
  margin: 0 auto;
  margin-top: 200px;
}

.members_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.members_text {
  font-family: "Merriweather";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 54px;
  color: #313131;
}
.members_buttons {
  display: flex;
  align-items: center;
}
.indicator {
  display: flex;
  align-items: center;
  margin-left: 14px;
  margin-right: 16px;
  column-gap: 2px;
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 16px;
  color: #313131;
}
.slash,
.totalSlides {
  opacity: 60%;
}
.prev,
.next {
  background-color: #313131;
  color: white;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.prev img {
  margin-right: 4px;
}
.next img {
  margin-left: 4px;
}
.slider {
  overflow: hidden;
  margin-top: 60px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  column-gap: 20px;
}

.slide_item {
  width: 394px;

  border-radius: 10px;
}
.member_photo {
  width: 320px;
  height: 320px;
  margin-left: 37px;
}
.member_name {
  font-family: "Golos Text";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  margin-top: 28px;
}
.member_info {
  font-family: "Golos Text";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  opacity: 60%;
  margin-top: 6px;
}
.more_button {
  font-family: "Golos Text";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: center;
  color: #3057a2;
  border: 1px #3057a2 solid;
  border-radius: 62px;
  width: 113px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.more_button:hover {
  background-color: #3057a2;
  color: white;
}
.prev:hover,
.next:hover {
  background-color: #fbce51;
}
@media (max-width: 1222px) {
  .members,
  .support,
  .steps,
  header,
  .marquee,
  .marquee_2,
  footer {
    transform: scale(0.8);
    transform-origin: top left;
  }
}
