body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}
header {
  height: 700px;
  background-color: #e9ded4;
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.header_main_container {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  margin-top: 26px;
}
.logopng_container {
  display: flex;
  column-gap: 1px;
}
.logopng {
  width: 22px;
  height: 31px;
}
.logotxt_container {
  font-family: "Golos Text";
  font-weight: 700;
  font-size: 16.65px;
  line-height: 18px;
  text-transform: uppercase;
  color: #595653;
  margin-left: 9px;
}
.header_text_container {
  width: 542px;
}
.header_text_main {
  text-transform: uppercase;
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 60px;
  line-height: 66px;
  color: #313131;

  margin-top: 62px;
}
.first_header_text_main {
  text-align: start;
}
.second_header_text_main {
  text-align: center;
}
.header_text_sub {
  font-family: "Golos Text";
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  text-align: center;
  margin-top: 24px;
}
.header_buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.header_button_1 {
  cursor: pointer;
  font-family: "Golos Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #1f1f1f;
  border-radius: 66px;
  height: 72px;
  background-color: #1f1f1f;
  color: white;
  width: 263px;
  transition: all 0.3s ease-out;
  z-index: 6;
}
.header_button_1:hover {
  background-color: #fbce51;
  color: #1f1f1f;
  border: 0px;
}

.header_button_2 {
  font-family: "Golos Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #1f1f1f;
  border-radius: 66px;
  height: 72px;
  border: 2px #1f1f1f solid;
  background-color: transparent;
  width: 263px;
  transition: all 0.3s ease;
}
.header_button_2:hover {
  background-color: #1f1f1f;
  color: white;
}
.header_composition_container {
  position: absolute;
  width: 1630px;
  height: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  overflow: hidden;
  pointer-events: none;
}
@media (max-width: 1366px) {
  .header_composition_container {
    left: -140px;
  }
}
.chess_piece_1 {
  position: absolute;
  top: 558px;
  right: 170px;
  width: 82px;
  height: 122px;
  z-index: 6;
}
.chess_piece_2 {
  top: 470px;
  right: 450px;
  height: 230px;
  position: absolute;
  z-index: 6;
}
.chess_piece_3 {
  top: 270px;
  right: 632px;
  height: 255px;
  position: absolute;
  z-index: 2;
}
.chess_piece_4 {
  top: 165px;
  right: 285px;
  height: 252px;
  position: absolute;
  z-index: 2;
}
.city_picture_back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1623px;
  height: 452px;
  z-index: 5;
}
.city_picture {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 1623px;
  height: 452px;
  z-index: 3;
}
.sup_background {
  position: absolute;
  top: -123px;
  z-index: 4;
  mix-blend-mode: color-burn;
  pointer-events: none;
}
.sun_round {
  width: 660px;
  height: 660px;
  border-radius: 50%;
  background-color: #fbce51;
  position: absolute;
  top: -44px;
  right: 159px;
  z-index: 1;
}
.sun_round_text {
  height: 660px;
  position: absolute;
  top: 5px;
  right: 110px;
  z-index: 2;
  mix-blend-mode: overlay;
}
